# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Database
*.sql
*.sqlite3

# Environment
.env
.venv
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store